.ripple-container {
    cursor: pointer;

    width: 300px;
    height: 450px;
   
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
