.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:#6a5acd;
}


.brand:hover{
  cursor: pointer;

  a{
    color: rgb(255, 255, 255, 0.8);
  }
}



.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  
}

.container{
  display: fixed;
  background: linear-gradient(180deg, rgba(103,58,183,1) 15%, rgba(72,38,133,1) 46%, rgba(0,0,0,1) 89%);
}

.white{
  color: white;
}

.side-button{
  width: 100%;
  font-weight: bold;

}

