.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:slateblue;
}


.brand{
  cursor: pointer;
}



.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  
}

.container{
  display: fixed;
  background: linear-gradient(180deg, rgba(103,58,183,1) 11%, rgba(160,29,253,1) 59%, rgba(252,244,69,1) 100%);
}

.white{
  color: white;
}

.side-button{
  width: 100%;
  font-weight: bold;

}
