
<div fxLayout="row wrap" *ngIf="isLoading" fxLayoutAlign="center center" >
    <mat-spinner ></mat-spinner>
</div>


<div fxLayout="row wrap" *ngIf="!isLoading" fxLayoutAlign="center" class="m20">

    <app-go-back-button></app-go-back-button>
    <app-movie-card [movie]=movie></app-movie-card>

    <div fxLayout="column" fxLayoutAlign="none">
        <mat-card class="card m20">
            <mat-card-header>
                <mat-card-title>{{movie.Title}}</mat-card-title>
                <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{movie.Plot}}
                </p>
            </mat-card-content>

        </mat-card>
        <mat-card class="card m20">
            <mat-card-header>
                <mat-card-title>Actors</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{movie.Actors}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>