<div class="" fxLayout="column" fxLayoutAlign="none">

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="mr" *ngIf="!isLoading">
        <div fxLayout="row" fxLayoutAlign="start">
            <app-go-back-button></app-go-back-button>

            <p class="mat-display-1 white" *ngIf="movies">Results for "{{title}}"</p>
            <p class="mat-display-1 white" *ngIf="!movies">No results were found for "{{title}}"</p>
        </div>

        <app-poster-list [movies]=movies></app-poster-list>
    </div>
    <mat-paginator *ngIf="isPagenable" 
        [length]="pageLength" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions"
        (page)="getData($event)">
    </mat-paginator>

</div>