.ripple-container {
    cursor: pointer;

    max-width: 300px;
    max-height: 450px;
    margin: 20px;
   
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
