.ripple-container {
    cursor: pointer;
    max-width: 300px;
    max-height: 450px;
  }

  .m5{
    margin:5px ;
  }

  .pointer:hover{
    cursor: pointer;
    color:brown;
  }

  .rating{
    padding-top: 9.5px;
  }

  mat-card{
    margin: 5px;
  }
