/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/font/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
};

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Quicksand'
);

@include angular-material-typography($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 27, 92); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}