.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:slateblue;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.mat-toolbar{
  color:white;
}

.mr{
  margin-right: 6px;
}

.flex{
  flex: 1 1 auto;
}

.mt{
  margin-top: 20px;
}

.mb{
  margin-bottom: 10px;
}

.wd-90{
  width: 90%;
}
.wd-100{
  width: 100%;
}
