.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:slateblue;
}


.brand{
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
  
}
