<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport=true>
    <mat-toolbar>Settings</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Profile</a>
      <a mat-list-item href="#">favorite</a>
      <a mat-list-item href="#">config</a>
    </mat-nav-list>
  </mat-sidenav> -->

  <mat-sidenav-content class="container">
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="space-around center">

        <div class="brand">
          <a routerLink="">MyMovies</a>
        </div>
        <span class="spacer"></span>
        <button mat-button *ngIf="!(isHandset$ | async) && !isLogged" (click)="login()">
          <mat-icon> login </mat-icon>
          Sign Up
        </button>

        <button mat-button [matMenuTriggerFor]="dropMenu" *ngIf="!(isHandset$ | async) && isLogged">
          <mat-icon>account_circle</mat-icon>
          {{userName}}
        </button>

        <mat-menu #dropMenu="matMenu" *ngIf="!(isHandset$ | async) && isLogged">
          <button mat-menu-item (click)="goFavorite()">
            <mat-icon>folder_special</mat-icon>
            favarite
          </button>
          <button mat-menu-item>
            <mat-icon> exit_to_app </mat-icon>
            Sign out
          </button>
        </mat-menu>


        <button mat-icon-button [matMenuTriggerFor]="dropMenu" *ngIf="(isHandset$ | async)">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #dropMenu="matMenu">
          <button *ngIf="!isLogged" mat-menu-item (click)="login()">
            <mat-icon> login </mat-icon>
            Sign Up
          </button>
          <button *ngIf="isLogged" mat-menu-item (click)="goFavorite()">
            <mat-icon>folder_special</mat-icon>
            favarite
          </button>
          <button *ngIf="isLogged" mat-menu-item (click)="signOut()">
            <mat-icon> exit_to_app </mat-icon>
            Sign out
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>