<div>
<mat-toolbar-row>
    <mat-form-field [ngClass]="{'width-500': !(isHandset$ | async)}">
        <mat-label>Search</mat-label>
        <input matInput type="text">
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
        <button type="button" (click)="isTune = !isTune" mat-icon-button matSuffix>
            <mat-icon> tune </mat-icon>
        </button>
    </mat-form-field>
</mat-toolbar-row>

<mat-toolbar-row *ngIf="!(isHandset$ | async) && isTune" fxLayoutAlign="space-evenly center">
    <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select>
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Adventure">Adventure</mat-option>
            <mat-option value="Romance">Romance</mat-option>
        </mat-select>

    </mat-form-field>

    <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select>
            <mat-option value="Action">2020</mat-option>
            <mat-option value="Adventure">2019</mat-option>
            <mat-option value="Romance">2018</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar-row>

<mat-toolbar-row *ngIf="isTune && (isHandset$|async)" fxLayoutAlign="space-around center">
    <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select>
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Adventure">Adventure</mat-option>
            <mat-option value="Romance">Romance</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar-row>
<mat-toolbar-row *ngIf="isTune && (isHandset$|async)$" fxLayoutAlign="space-around center">
    <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select>
            <mat-option value="Action">2020</mat-option>
            <mat-option value="Adventure">2019</mat-option>
            <mat-option value="Romance">2018</mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar-row>
