<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-form-field [ngClass]="{'width-500': !(isHandset$ | async)}">

            <input matInput type="search" class="mt" #input>
            <button mat-icon-button matSuffix (click)="searchMovies(input.value)">
                <mat-icon>search</mat-icon>
            </button>

            <button type="button" (click)="isTune = !isTune" mat-icon-button matSuffix>
                <mat-icon> tune </mat-icon>
            </button>
        </mat-form-field>

    </mat-toolbar-row>

</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!(isHandset$ | async) && isTune">
    <mat-toolbar-row color="primary" fxLayoutAlign="space-evenly center" [@fadeAnimation]>
        <mat-form-field class="mt">
            <mat-label>Genre</mat-label>
            <mat-select>
                <mat-option value="Action">Action</mat-option>
                <mat-option value="Adventure">Adventure</mat-option>
                <mat-option value="Romance">Romance</mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field class="mt">
            <mat-label>Year</mat-label>
            <mat-select>
                <mat-option value="Action">2020</mat-option>
                <mat-option value="Adventure">2019</mat-option>
                <mat-option value="Romance">2018</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isTune && (isHandset$|async)">
    <mat-toolbar-row fxLayoutAlign="space-around center" [@fadeAnimation]>
        <mat-form-field class="mt">
            <mat-label>Genre</mat-label>
            <mat-select>
                <mat-option value="Action">Action</mat-option>
                <mat-option value="Adventure">Adventure</mat-option>
                <mat-option value="Romance">Romance</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isTune && (isHandset$|async)$" fxLayoutAlign="space-around center" [@fadeAnimation]>
        <mat-form-field class="mt">
            <mat-label>Year</mat-label>
            <mat-select>
                <mat-option value="Action">2020</mat-option>
                <mat-option value="Adventure">2019</mat-option>
                <mat-option value="Romance">2018</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-toolbar-row>

</mat-toolbar>